.container {
    display: flex;
    align-items: center;
    margin-top: -2rem;
}

.img {
    height: 100px;
    width: 100px;
}

.title {
    font-size: 35px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 5px;
}